@font-face {
    font-family: "Minecraft";
    src: url('./fonts/Minecraftia/Minecraftia-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #393939;
}

button {
    font-family: 'Minecraft', sans-serif;
    color: white;
    background-color: #858585;
    padding: 0.7rem 2rem;
    padding-bottom: 0.3rem;
}

button:active {
    background-color: #6a88ba;
}

.container {
    height: 100svh;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    position: relative;
    /* width: 900px;
    height: 900px; */
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 25px;
    height: 25px;
}
.empty {
    background: url('images/grass.png');
}
.hole {
    background: url('images/lava.png') no-repeat center center;
    background-size: cover;
}
.start {
    background: url('images/start.png') center center;
}
.end {
    background: url('images/end.png') center center;
    background-size: cover;
}

.robot {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    transition: top 0.1s, left 0.1s, bottom 0.1s, right 0.1s, transform 0.1s;
}

.robot img {
    width: 20px;
    height: 20px;
    transition: transform 0.5s;
}

.robot.r-0 img {
    transform: rotate(0deg);
}

.robot.r-45 img {
    transform: rotate(45deg);
}

.robot.r-90 img {
    transform: rotate(90deg);
}

.robot.r-135 img {
    transform: rotate(135deg);
}

.robot.r-180 img {
    transform: rotate(180deg);
}

.robot.r-225 img {
    transform: rotate(225deg);
}

.robot.r-270 img {
    transform: rotate(270deg);
}

.robot.r-315 img {
    transform: rotate(315deg);
}

.robot.r-360 img {
    transform: rotate(360deg);
}

.score {
    color: #f2dc1b;
}

#death__screen {
    display: none;

    position: absolute;
    width: 900px;
    height: 900px;

    font-family: 'Minecraft', sans-serif;
    color: white;
    background: transparent;
}

#death__screen.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    background: linear-gradient(#4f3d1caa, #6c342ddd);
}

#death__screen > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end__screen {
    display: none;

    position: absolute;
    width: 900px;
    height: 900px;

    font-family: 'Minecraft', sans-serif;
    color: white;
    background: transparent;
}

#end__screen.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    background-image: linear-gradient(#00000077, #00000077), url('./images/dirt.jpg');
    
    box-shadow: 
        inset 50px 50px 100px black,
        inset -50px -50px 100px black;
}

#end__screen > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}