* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #393939;
}
.container {
    height: 100svh;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    position: relative;
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 25px;
    height: 25px;
}
.empty {
    background: url('images/grass.png');
}
.hole {
    background: url('images/lava.png') no-repeat center center;
    background-size: cover;
}
.start {
    background: url('images/start.png') center center;
}
.end {
    background: url('images/end.png') center center;
    background-size: cover;
}

.robot {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    transition: top 1s, left 1s, bottom 1s, right 1s;
}

.robot img {
    width: 20px;
    height: 20px;
    transition: transform 0.5s;
}

.robot.r-0 img {
    transform: rotate(0deg);
}

.robot.r-45 img {
    transform: rotate(45deg);
}

.robot.r-90 img {
    transform: rotate(90deg);
}

.robot.r-135 img {
    transform: rotate(135deg);
}

.robot.r-180 img {
    transform: rotate(180deg);
}

.robot.r-225 img {
    transform: rotate(225deg);
}

.robot.r-270 img {
    transform: rotate(270deg);
}

.robot.r-315 img {
    transform: rotate(315deg);
}

.robot.r-360 img {
    transform: rotate(360deg);
}
